.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    padding: 10px;
}

.input{
    margin: 20px auto;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.label_input_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
    font-size: 1.2rem;
}

.button {
    width: 80px;
    height: 25px;
    border: 2px solid var(--green-blue-color);
    border-radius: 15px;
    background-color: var(--white-color);
    color: var(--green-blue-color);
    padding: 2px;
    cursor: pointer;
}

.errors{
    color: red;
}