.container{
    border: 1px solid white;
    display: flex;
    width: 90%;
    margin: 50px auto;
}

.left_container{
    border-right:  1px solid var(--green-blue-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    background-color: var(--white-color);
    color: var(--green-blue-color);
    padding: 30px;
}

.left_container h2{
    margin: 20px 0;
}

.left_container ul{
    list-style: none;
    line-height: 2rem;
}

.notice {
    margin-top: 0.1rem; 
    margin-bottom: 10px;
    line-height: 0.4rem; 
}

.right_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--white-color);
    color: var(--green-blue-color);
    padding: 30px;
}

