.container {
    padding: 5px;
    width: 100%;
  }

  .conventionContainer{
    margin-bottom: 20px;
  }

  .yellowPoint {
    width: 10px;
    height: 10px;
    background-color: var(--yellow-color);
    border-radius: 50%;
    display: inline-block;
  }
  
  .greenBluePoint {
    width: 10px;
    height: 10px;
    background-color: var(--green-blue-color); /* Color verde azulado */
    border-radius: 50%;
    display: inline-block;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid var(--green-blue-color);
    padding: 5px;
    text-align: left;
    font-size: 0.8rem;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    text-align: left; /* Alinea los precios a la derecha */
    font-size: 0.8rem;
  }


@media(min-width: 200px) and (max-width: 690px){
  .conventionContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .table{
    width: 100%;
  }
}
  