.container {
    display: flex;
    flex-direction: column;
    border: 7px solid var(--yellow-color);
    background-color: var(--white-color); 
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    height: 250px;
    margin: 10px 10px;  
    text-align: start; 
    color: var(--green-blue-color);
}

.title{
    margin-bottom: 20px;
}

.description{
    line-height: 1.5rem;
}

@media(min-width: 1024px){
    .container{
        height: 340px;
    }
}

@media(min-width: 660px) and (max-width: 1024px){
    .container{
        width: 50%;
        height: 340px;
    }
}
@media(max-width: 660px){
    .container{
        width: 90%;
        height: 330px;
    }
}
