.container {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 7px solid var(--yellow-color);
    background-color: var(--white-color); 
    padding: 15px;
    border-radius: 15px;
    width: 90%;
    height: 300px;
    margin: 10px 10px;  
    text-align: start; 
    color: var(--green-blue-color);
}

.title{
    margin-bottom: 20px;
}

.description{
    line-height: 1.3rem;
    font-size: 1rem;
}

.icon{
    width: 5%;
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 2rem;
}

@media(min-width: 768px){
    .container{
        width: 40%;
        height: 300px;
    }
}

@media(min-width: 1024px){
    .container{
        height: 250px;
    }
}


