.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    gap: 10px;
  }
  
  li {
    list-style-type: none;
    width: 100%; 
    position: relative; 
  }
  
  .animal {
    width: 100%;
    border-radius: 15px;
    height: 420px;
  }
  
  .atribute {
    position: absolute;
    color: var(--yellow-color);
    bottom: 25px; 
    left: 25px; 
    font-size: 3rem; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  }
  
@media(min-width: 540px){
    .animal{
        height: 500px;
    }
}
@media (min-width: 768px){
    .container{
        flex-wrap: nowrap;
    }
    .animal{
        max-width: 250px;   
    }
    .atribute{
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px){
    .container{
        flex-wrap: nowrap;
        gap: 60px;
    }
    .animal{
        max-width: 350px;
    }
    .atribute{
        font-size: 2rem;
    }
}
