.datePickerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.datePicker {
    width: 100%;
}

@media(min-height: 1024px) and (max-height: 1180px){
    .datePickerWrapper {
        position: absolute;
        top: auto;
        left: 0%;
        width: 50vw;
        flex-direction: row;
    }
    .datePicker {
        width: 40vw;
    }
}

@media (min-width: 660px) and (max-width: 900px) {
    .datePickerWrapper {
        position: absolute;
        top: auto;
        left: 0%;
        width: 110%;
        flex-direction: row;
    }
    .datePicker {
        width: 180%;
    }
}
@media (min-width: 200px) and (max-width: 660px) {
    .datePickerWrapper {
        position: absolute;
        top: auto;
        left: 0%;
        width: 84vw;
        flex-direction: row;
    }
    .datePicker {
        width: 75vw;
    }
}

@media(max-width: 376px){
    .datePickerWrapper{
        width: 91vw;
    }
}
@media(max-width: 360px){
    .datePickerWrapper{
        width: 95vw;
    }
    .datePicker {
        width: 82vw;
    }
}
@media(max-width: 344px){
    .datePickerWrapper{
        width: 96vw;
    }
    .datePicker {
        width: 82vw;
    }
}