.container{
    display: flex;
    color: var(--white-color);
}

.filter_container{
    border: 0.2px solid white;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;
}

.label{
    text-align: left;
    font-size: 1rem;
    margin-bottom: 10px;
}

@media(min-width: 1024px){
    .container{
        margin: 0 auto;
        width: 90%;
        justify-content: space-around;
    }
    .filter_container{
        width: 25%;
    }
}

@media(min-width: 100px) and (max-width: 399px){
    .label{
        font-size: 0.8rem ;
    }
}