@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --white-color: rgb(255, 255, 255);
  --yellow-color: rgb(255, 200, 69);
  --yellow-color-rgb: 255, 200, 69;
  --green-blue-color: rgb(0, 147, 178);
  --green-blue-color-rgb: 0, 147, 178;
  --black-overlay: rgba(3, 2, 2, 0.6);
  --font-family-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family-montserrat);
  background-color: var(--green-blue-color);
  overflow-x: hidden; /* Esto evitará el scroll horizontal */
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.2); /* Color de fondo del spinner */
  border-top: 8px solid white; /* Color blanco para la parte superior del spinner */
  border-radius: 50%;
  width: 60px; /* Tamaño del spinner */
  height: 60px;
  animation: spin 1s linear infinite; /* Animación de giro */
  position: fixed;
  top: 50%; /* Posición centrada verticalmente */
  left: 50%; /* Posición centrada horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para que el centro sea justo en el medio */
  z-index: 9999; /* Asegura que el spinner esté encima de todo */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Inicia en 0 grados */
  }
  100% {
    transform: rotate(360deg); /* Gira hasta 360 grados */
  }
}
