.container {
    display: flex;
    width: 90%;
    margin: 50px auto
}

.intro_container {
    background-color: var(--white-color);
    font-family: var(--font-family-montserrat);
    color: var(--green-blue-color);
    width: 50%;
    padding: 45px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.intro {
    font-family: var(--font-family-montserrat);
    font-size: 3rem;
    margin-bottom: 20px;
}

.title {
    position: relative;
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 30px;
    color: var(--green-blue-color)
}

.hiddenText {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ohMyDoggie {
    display: inline-block;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.welcomeMessage {
    line-height: 1.8;
    font-size: 1.5rem;
}

.welcomeMessage span {
    font-size: larger;
}

.dog_container {
    background-color: var(--yellow-color);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.black_dog {
    max-width: 100%;
    margin-top: auto
}

.dog {
    max-width: 100%;
    margin-top: auto;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .intro_container {
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }

    .dog_container {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 0;
    }

    .dog {
        width: 60%;
    }

}

@media (min-width: 100px) and (max-width: 540px) {
    .container {
        width: 95%;
    }
}

@media (min-width: 200px) and (max-width: 390px) {
    .intro {
        font-size: 1.6rem;
    }

    .welcomeMessage{
        font-size: 1.2rem;
        text-align: start;
    }

    .title {
        font-size: 3rem;
    }
}